.main-page-layout{
    text-align: center;
    height: 100vh;

    background-color: beige;
    .main-page-sider{
        color: #fff;
        height: 100%;
        background: #3ba0e9;
    }
    .main-page-layout-right{
        background:chocolate;
        .main-page-header{
            background-color: cornflowerblue;
        }
        .main-page-content{
            background-color: cornsilk;
        }
    }
}